---
# The name of your project
title: Spring Cloud Open Service Broker

badges:

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-cloud/spring-cloud-open-service-broker
      icon: github

    - name: Issues (GitHub)
      url:  https://github.com/spring-cloud/spring-cloud-open-service-broker/issues
      icon: tracking

---
<!DOCTYPE HTML>
<html lang="en-US">

<!-- Specify the parent of this project (or delete if none) to influence the rendering of the breadcrumb -->
{% capture parent_link %}
[Spring Cloud]({{ site.projects_site_url }}/spring-cloud)
{% endcapture %}


{% capture billboard_description %}

Spring Cloud Open Service Broker is a framework for building Spring Boot applications that implement the Open Service Broker API.

{% endcapture %}

{% capture main_content %}

The Open Service Broker API project allows developers to deliver services to applications running within cloud native platforms such as Cloud Foundry, Kubernetes, and OpenShift. For more information about the Open Service Broker API, visit the [project page](https://www.openservicebrokerapi.org/) and [API specification documents](https://github.com/openservicebrokerapi/servicebroker).

Spring Cloud Open Service Broker provides a framework based on Spring Boot that enables you to quickly create a service broker for your own managed service on platform that support the Open Service Broker API.

## Features

* Default configuration for catalog and service binding/unbinding endpoints
* Support for the latest Open Service Broker API specification

## Quick Start

{% include download_widget.md %}

See the [project documentation](https://github.com/spring-cloud/spring-cloud-open-service-broker) for more information on the interfaces included for implementing API functionality and on what default implementations are provided.

{% endcapture %}

{% capture related_resources %}

### Sample Projects

[Bookstore service broker](https://github.com/spring-cloud-samples/bookstore-service-broker)

{% endcapture %}


{% include project_page.html %}
</html>
